.emailRow {
    display: flex;
    /* padding: 1px; */
    padding-top: 1px;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid #f5f5f5; */
    /* background-color: rgba(255, 255, 255, 0.555); */
    /* border-bottom: 1px solid whitesmoke; */
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.021);
    cursor: pointer;
    /* overflow-x: scroll; */
    /* flex:1; */
}

.emailRow:active {
    background-color: rgb(218, 214, 214);
}

.emailRow:visited {
    background-color:red
}

/* 
.emailList__rows {
    background-color: blue;
} */

.emailRow:hover {
    /* box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);  */
    /* box-shadow: 0 5px 5px rgba(182, 182, 182, 0.2); */
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
    /* border-bottom-width: 0px; */
    flex: 1;
}

.emailList__sections {
    display: flex;
    /* align-self: center; */
}

.emailListRows__options {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1px;
}

.emailListRows__title {
    /* padding: 0 15px;
     */
    flex: 0.23;
    text-overflow: ellipsis;
    margin-left: 2px;
    width: 119px;
    overflow: hidden;
    font-size: 12px;
    ;
}

.emailListRows__message {
    /* padding: 0 15px; */
    display: flex;
    flex: 0.7;
    align-items: center;
}

.emailListRows__message>h4 {
    overflow: hidden;
    width: 400px;
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* color: red; */
}

.emailListRows__message span {
    color: gray;
    font-weight: 400;
    padding-left: 8px;
}

.emailListRows__time {
    color: #818181;
    /* display: flex;
    flex:1; */
    margin-right: -40px;
    font-weight: bold;
    font-size: 12.5px;
    /* word-wrap: normal; */
    /* word-spacing: 1px; */
    /* word-wrap: nowrap; */
    word-break: keep-all;
    text-overflow: ellipsis;
    /* color: red; */
    /* width:129px; */
}

.emailListRows__message__title {
    display: flex;
    flex: 1;
    justify-content: space-between;
}